{
  "ignore": [
    "Applications",
    "LaunchAgents",
    "README.md",
    "Vendorfile",
    "install.sh",
    "install_dotfiles.py",
    "install_scripts.py",
    "scripts"
  ],
  
  "template_context": {
    "name": "George Song",
    "email": "george@55minutes.com",
    "github_username": "gsong",
    "git_editor": "/Users/george/.bin/edit"
  }
}
