log "Stopping Time Machine backup…"
try
  do shell script "sudo tmutil stopbackup" user name "@{admin_user}" ¬
    password "@{admin_password}" with administrator privileges
on error errMsg
  log "Time Machine isn't running…"
end try

log "Muting the volume…"
set volume with output muted
