property utils : load script POSIX file "@directory/utils.scpt"

log "Unloading CrashPlan engine…"
do shell script "launchctl unload /Library/LaunchDaemons/com.crashplan.engine.plist" ¬
  user name "@{admin_user}" password "@{admin_password}" ¬
  with administrator privileges

log "Quitting CrashPlan menu bar…"
tell utils
  if appIsRunning("CrashPlan menu bar") then
    tell application "CrashPlan menu bar" to quit
  end if
end tell
