property utils : load script POSIX file "@directory/utils.scpt"

on changeVolume(amount)
  tell application "Airfoil"
    if it is running then
      repeat with s in speakers
        if (connected of s) then
          set vol to max(min((volume of s) + amount, 1) of utils, 0) of utils
          set (volume of s) to vol
        end if
      end repeat
    end if
  end tell
end changeVolume
