on changeVolume(amount)
  tell application "iTunes"
    if it is running then
      if player state is playing then
        set sound volume to sound volume + amount
      end if
    end if
  end tell
end changeVolume
